
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-layers:before { content: '\e801'; } /* '' */
.icon-pencil-alt:before { content: '\e802'; } /* '' */
.icon-buffer:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-cog-1:before { content: '\e805'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */