@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?5040357');
    src: url('../font/fontello.eot?5040357#iefix') format('embedded-opentype'), url('../font/fontello.woff2?5040357') format('woff2'), url('../font/fontello.woff?5040357') format('woff'), url('../font/fontello.ttf?5040357') format('truetype'), url('../font/fontello.svg?5040357#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

header {
    background-image: url(../img/menubcgrnd.img.jpg);
}

.upper {
    display: block;
    padding-bottom: 381px;
}

.logo img {
    display: block;
    float: left;
    margin-left: 376px;
    margin-top: 40px;
}

.logo span a {
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
    display: block;
    float: left;
    margin-top: 50px;
    text-decoration: none;
}

.mainmenu {
    display: block;
    float: left;
    margin-top: 60px;
    margin-left: 204px;
}

.mainmenu li {
    display: inline-block;
    padding: 0px 15px 0px 15px;
}

.mainmenu li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.mainmenu li a:hover {
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b29a;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.icons:before {
    display: block;
    float: left;
    content: url(../img/icon-basket.img.png);
    margin-top: 55px;
    margin-left: 20px;
}

.icons:after {
    display: block;
    float: left;
    content: url(../img/icon-search.img.png);
    margin-top: 55px;
    margin-left: 28px;
}

.headtext {
    display: block;
    margin: 0 auto;
    width: 589px;
    text-align: center;
}

.headtext h2 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
}

.headtext h1 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    padding-bottom: 10px;
}

.headtext p {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    margin-bottom: 52px;
}

.headtext a {
    display: block;
    width: 170px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    outline: 1px solid #998675;
    padding: 15px 0 15px 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.headtext a:hover {
    display: block;
    width: 170px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    outline: 1px solid #998675;
    padding: 15px 0 15px 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    background-color: #998675;
}

.headtext img {
    display: block;
    margin: 329px auto 0 auto;
    padding-bottom: 32px;
}

.icons .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 70px 215px 100px 215px;
    text-align: center;
}

.icons .flex-container h3 {
    font-family: Raleway;
    color: #555555;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    padding: 29px 0 20px 0;
}

.item1:hover h3 {
    color: #c7b299;
}

.item2:hover h3 {
    color: #c7b299;
}

.item3:hover h3 {
    color: #c7b299;
}

.item4:hover h3 {
    color: #c7b299;
}

.icons .flex-container p {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 52px;
    color: #555555;
}

.item1:before {
    content: "\E802";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 52px;
    color: #555555;
}

.item1:hover:before {
    color: #c7b299;
}

.item1:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.item1:hover:after {
    background-color: #c7b299;
}

.item2:before {
    content: "\E803";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 52px;
    color: #555555;
}

.item2:hover:before {
    color: #c7b299;
}

.item2:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.item2:hover:after {
    background-color: #c7b299;
}

.item3:before {
    content: "\E805";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 52px;
    color: #555555;
}

.item3:hover:before {
    color: #c7b299;
}

.item3:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.item3:hover:after {
    background-color: #c7b299;
}

.item4:before {
    content: "\F4C2";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 52px;
    color: #555555;
}

.item4:hover:before {
    color: #c7b299;
}

.item4:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.item4:hover:after {
    background-color: #c7b299;
}

.item1,
.item2,
.item3,
.item4 {
    margin: 0 15px 0 15px;
}

.icons .flex-container hr {
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 2px;
}

.icons .flex-container hr:hover {
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 2px;
    background-color: #c7b299;
}

.preview {
    background-color: #fbfaf8;
    display: block;
    padding-bottom: 482px;
    position: relative;
}

.preview h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    padding-top: 83px;
}

.preview p {
    display: block;
    width: 757px;
    margin: 0 auto;
    padding-top: 24px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-bottom: 40px;
}

.centerimg {
    display: block;
    width: 770px;
    height: 482px;
    margin-left: 576px;
    position: absolute;
    z-index: 3;
}

.leftimg {
    display: block;
    width: 770px;
    height: 400px;
    margin-left: 346px;
    margin-top: 82px;
    position: absolute;
    z-index: 2;
}

.rightimg {
    display: block;
    width: 770px;
    height: 400px;
    margin-left: 806px;
    margin-top: 82px;
    position: absolute;
    z-index: 1;
}

.purchasenow {
    display: block;
    height: 150px;
    background-image: url(../img/Backgroundbrown.img.jpg);
}

.textleft {
    display: block;
    float: left;
    margin-left: 376px;
    width: 530px;
    padding-top: 48px;
    padding-bottom: 49px;
}

.textleft h2 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 28px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}

.textleft p {
    font-family: Montserrat;
    color: #615855;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.purchasenow a {
    display: block;
    float: left;
    margin-left: 440px;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding: 19px 29px;
    outline: 1px solid #998675;
}

.purchasenow a:hover {
    display: block;
    float: left;
    margin-left: 440px;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
    color: #ffffff;
    background-color: #998675;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding: 19px 29px;
    outline: 1px solid #998675;
}

.projects {
    display: block;
    padding-bottom: 880px;
}

.projects h2 {
    display: block;
    margin: 0 auto;
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    padding-top: 81px;
    padding-bottom: 20px;
}

.projects p {
    display: block;
    margin: 0 auto;
    width: 790px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.projmenu {
    display: block;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.projmenu li {
    display: inline-block;
}

.projmenu li a {
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    outline: 1px solid #8c8c8c;
    margin-left: 20px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
}

.projmenu li a:hover {
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    outline: 1px solid #8c8c8c;
    margin-left: 20px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
    background-color: #998675
}

.gallery {
    display: block;
    margin-left: 376px;
    margin-right: 374px;
}

.proj1,
.proj2,
.proj3,
.proj4,
.proj5,
.proj6 {
    display: block;
    float: left;
    width: 370px;
}

.speech:hover {
    background-color: #362f2d;
}

.afterhover img:hover {
    filter: brightness(0.4);
}

.afterhover {
    display: block;
    float: left;
    width: 370px;
    height: 237px;
    position: relative;
}

.afterhover:hover:before {
    content: "\E807";
    font-family: "fontello";
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 29px;
    position: absolute;
    top: 40%;
    left: 52%;
    z-index: 1;
}

.afterhover:hover:after {
    content: "\E806";
    font-family: "fontello";
    color: #c7b299;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 36px;
    position: absolute;
    top: 40%;
    left: 35%;
}

.afterhover:hover {
    display: block;
    float: left;
    width: 370px;
    height: 237px;
}

.proj1 {
    background-color: #fbfaf8;
}

.proj2 {
    background-color: #fbfaf8;
    margin-left: 30px;
}

.proj3 {
    background-color: #fbfaf8;
    margin-left: 30px;
}

.proj4 {
    background-color: #fbfaf8;
    margin-top: 30px;
}

.proj5 {
    background-color: #fbfaf8;
    margin-left: 30px;
    margin-top: 30px;
}

.proj6 {
    background-color: #fbfaf8;
    margin-left: 30px;
    margin-top: 30px;
}

.speech h3 {
    display: block;
    float: left;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    margin-left: 28px;
}

.speech {
    display: block;
    height: 100px;
    margin-top: 237px;
    position: relative;
}

.speech:before {
    content: "";
    border: 20px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    left: 19px;
    top: -28px;
}

.speech:hover:before {
    content: "";
    border: 20px solid transparent;
    border-bottom: 10px solid #362f2d;
    position: absolute;
    left: 19px;
    top: -28px;
}

.speech p {
    display: block;
    float: left;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 12px;
    margin-left: 28px;
}

.gallery a {
    display: block;
    float: left;
    margin-left: 500px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    outline: 1px solid #998675;
    padding: 19px 44px 19px 44px;
    margin-top: 40px;
    color: #998675;
    margin-bottom: 80px;
}

.gallery a:hover {
    display: block;
    float: left;
    margin-left: 500px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    outline: 1px solid #998675;
    padding: 19px 44px 19px 44px;
    margin-top: 40px;
    color: #ffffff;
    background-color: #998675;
    margin-bottom: 80px;
}

.video {
    display: block;
    background-image: url(../img/video.img.jpg);
    padding-bottom: 705px;
}

.video a {
    display: block;
    float: left;
    margin-left: 911px;
    margin-top: 210px;
}

.video h2 {
    display: block;
    margin-top: 44px;
    margin-left: 768px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    float: left;
}

.video p {
    display: block;
    width: 552px;
    float: left;
    margin-left: 683px;
    margin-top: 29px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.timing {
    display: block;
}

.timing p {
    color: #c7b299;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.mobile {
    display: block;
    position: relative;
    padding-bottom: 695px;
}

.mobile img {
    display: block;
    float: left;
    margin-left: 423px;
    margin-top: 79px;
}

.mobiletext {
    display: block;
    margin-top: 195px;
    margin-left: 877px;
    width: 680px;
    position: absolute;
}

.mobile h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: left;
}

.mobile p {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 40px;
}

.mobiletext ul {
    display: block;
    margin-top: 45px;
    margin-left: 100px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    list-style-image: url(../img/markerimg.img.png);
    padding-bottom: 120px;
    width: 650px;
}

.mobiletext ul li {
    margin-top: 5px;
}

.achievements {
    display: block;
    background-image: url(../img/achievementsback.img.jpg);
}

.achievements .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 215px 100px 215px;
    text-align: center;
}

.clients,
.coffee,
.publications,
.likes,
.launch {
    margin: 69px 73px 60px 73px;
}

.clients:before {
    display: block;
    content: url(../img/ppl.img.png);
}

.clients:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.coffee:before {
    display: block;
    content: url(../img/coffee.img.png);
}

.coffee:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.publications:before {
    display: block;
    content: url(../img/message.img.png);
}

.publications:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.likes:before {
    display: block;
    content: url(../img/heart.img.png);
}

.likes:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.launch:before {
    display: block;
    content: url(../img/food.img.png);
}

.launch:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 30px auto 0 auto;
    align-self: flex-end;
}

.achievements .flex-container h3 {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 48px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 200;
    line-height: 36px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 30px;
}

.achievements .flex-container p {
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}

.posts {
    display: block;
}

.posts h2 {
    font-family: Raleway;
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
}

.posts p {
    display: block;
    width: 757px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 583px;
    padding-top: 24px;
    padding-bottom: 40px;
}

.postsexamples {
    display: block;
    margin-bottom: 40px;
}

.postsexamples .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 376px 0px 376px;
    text-align: center;
}

.example1,
.example2,
.example3 {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    width: 370px;
}

.speech2 {
    display: block;
    height: 190px;
    width: 370px;
    position: relative;
}

.speech2 h3 {
    display: block;
    margin-left: 29px;
    padding-top: 30px;
    font-family: Raleway;
    color: #555555;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: left;
}

.speech2 p {
    display: block;
    width: 300px;
    height: 36px;
    margin-left: 29px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.postexamples img {
    height: 220px;
    width: 370px;
}

.speech2:hover {
    background-color: #362f2d;
    color: #c7b299;
}

.speech2 a {
    display: block;
    float: left;
    width: 100px;
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-left: 29px;
}

.speech2:hover:after {
    content: url(../img/arrow.img.png);
    position: absolute;
    display: block;
    float: left;
    left: 30%;
}

.example1:hover {
    background-color: #362f2d;
}

.example2:hover {
    background-color: #362f2d;
}

.example3:hover {
    background-color: #362f2d;
}

.example1:hover p {
    color: #ffffff;
}

.example1:hover h3 {
    color: #c7b299;
}

.example2:hover p {
    color: #ffffff;
}

.example2:hover h3 {
    color: #c7b299;
}

.example3:hover p {
    color: #ffffff;
}

.example3:hover h3 {
    color: #c7b299;
}

.exheader img:hover {
    filter: brightness(0.4);
}

.postsexamples img {
    display: block;
    float: left;
}

.exheader {
    display: block;
    height: 220px;
    position: relative;
}

.exheader:after {
    content: url(../img/Date1.img.png);
    position: absolute;
    float: left;
    display: block;
    left: 20px;
    top: 20px;
}

.exheader:hover:after {
    content: url(../img/Date2.png);
    position: absolute;
    float: left;
    display: block;
    left: 20px;
    top: 20px;
}

.arrows {
    display: block;
    margin: 0 auto;
    height: 22px;
    width: 60px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.arrows a {
    display: block;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
}

.partners {
    display: block;
    background-image: url(../img/bcgrpartners.img.jpg);
}

.partners a {
    display: block;
    margin-left: 45px;
    margin-right: 45px;
}

.partners .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 361px;
    margin-right: 361px;
    padding-top: 140px;
    padding-bottom: 135px;
    text-align: center;
}

footer {
    display: block;
}

.compinfo {
    display: block;
    float: left;
    width: 258px;
    margin-left: 376px;
    padding-top: 80px;
}

.logo2 {
    display: block;
    float: left;
    width: 258px;
}

.logo2 img {
    display: block;
    float: left;
}

.logo2 span a {
    display: block;
    float: left;
    text-decoration: none;
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
    margin-top: 10px;
}

.compinfo p {
    font-family: Montserrat;
    color: #545454;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 85px;
}

.more a {
    display: block;
    float: left;
    width: 100px;
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
    margin-top: 33px;
}

.more:hover:after {
    content: url(../img/arrow.img.png);
    position: absolute;
    display: block;
    float: left;
    margin-left: 85px;
    margin-top: 34px;
}

.recentposts {
    display: block;
    float: left;
    width: 280px;
    margin-left: 42px;
    padding-top: 100px;
}

.recentposts h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.recentposts time {
    font-family: Montserrat;
    color: #363636;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 33px;
    display: block;
}

.recentposts a {
    font-family: Montserrat;
    color: #545454;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
}
.footerposts:hover time {
    color: #ffffff;
}

.footerposts:hover a {
    color: #c7b299;
}

.footerposts hr {
    margin-top: 20px;
    border-color: #363636;
}

.twi {
    display: block;
    float: left;
    width: 270px;
    padding-top: 100px;
    margin-left: 38px;
}

.twi h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.twit {
    display: block;
    margin-top: 33px;
}

.twit hr {
    margin-top: 10px;
    border-color: #363636;
}

.twit p {
    font-family: Montserrat;
    color: #545454;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.twit time {
    display: block;
    margin-top: 11px;
    font-family: Montserrat;
    color: #363636;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.widget {
    display: block;
    float: left;
    width: 270px;
    padding-top: 100px;
    margin-left: 33px;
}

.widget h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom: 26px;
}

.widget a {
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

.widget a:hover {
    filter: brightness(0.5);
}

.footerup {
    display: block;
    padding-bottom: 640px;
    background-color: #191919;
}

.bottom {
    display: block;
    padding-bottom:111px;
    background-color: #111111;
}

.bottommenu {
    display: block;
    float: left;
}

.bottommenu p {
    display: block;
    float: left;
    font-family: Montserrat;
    color: #545454;
    font-size: 13px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-left: 376px;
    padding-top: 45px;
    padding-bottom: 52px;
}

.bottommenu ul {
    padding-top: 44px;
    display: block;
    float: left;
    margin-left: 10px;
}

.bottommenu li {
    display: inline-block;
    float: left;
}

.bottommenu li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #545454;
    font-size: 13px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.bottommenu li a:hover {
    color: #959595;
}

.bottominfo {
    display: block;
    float: right;
    width: 350px;
    padding-top: 45px;
    padding-right: 374px;
}

.bottominfo li {
    display: inline-block;
}

.bottominfo li a {
    text-decoration: none;
    font-family: Montserrat;
    color: #545454;
    font-size: 13px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
.bottominfo li a:hover {
    color:  #959595;
}